<div class="container">
  <div class="row user-info">
    <div class="col-md-4">
      <h4>{{patient.user.lastName}} {{patient.user.firstName}} {{patient.user.middleName}}</h4>
      <p>{{patient.user.birthDate | date: 'd.mm.yyyy'}}</p>
    </div>
    <div class="col-md-8">
      <p>Personal key: {{patient.user.personalKey}}</p>
      <p>Password: {{patient.user.patientPass}}</p>
    </div>
    <a [routerLink]="['/patient-list']">Повернутися до списку пацієнтів</a>
  </div>
  <hr>
  <div class="row personal-data" *ngIf="doctor.role === 'Gynecologist'">
    <div class="col-md-12">
      <h3>1. Особисті дані вагітної</h3>
    </div>
    <div class="col-md-2">
      <p>Зріст:</p>
      <p>Вага:</p>
      <p>Вагітність №:</p>
      <p>Термін гестаціі:</p>
    </div>
    <div class="col-md-2" *ngIf="!editMode">
      <p><span *ngIf="patient.user.height">{{patient.user.height}}, см</span></p>
      <p><span *ngIf="patient.user.weight">{{patient.user.weight}}, кг</span></p>
      <p><span *ngIf="patient.user.pregnancyNumber">{{patient.user.pregnancyNumber}}</span></p>
      <p><span *ngIf="patient.user.gestationPeriod">{{patient.user.gestationPeriod}}</span></p>
      <p style="margin-top: -16px;"><span *ngIf="!patient.user.height">0, см</span></p>
      <p><span *ngIf="!patient.user.weight">0, кг</span></p>
      <p><span *ngIf="!patient.user.pregnancyNumber">0</span></p>
      <p><span *ngIf="!patient.user.gestationPeriod">0</span></p>
    </div>
    <div class="col-md-2" *ngIf="editMode">
      <form [formGroup]="patientDetailsForm" (ngSubmit)="onPatientDetailsSubmit()">
        <div class="form-group row">
          <input type="text" class="form-control" formControlName="height" id="height" >
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" formControlName="weight" id="weight" >
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" formControlName="pregnancyNumber" id="pregnancyNumber" >
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" formControlName="gestationPeriod" id="gestationPeriod" >
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <button type="button" class="btn btn-danger" *ngIf="!editMode" (click)="onDeletePatient()">Видалити</button>
      <button type="button" class="btn btn-primary" *ngIf="!editMode" (click)="onEditModeToggle()">Редагувати</button>
      <button type="submit" class="btn btn-secondary" *ngIf="editMode" (click)="onEditModeToggle()">Скасувати</button>
      <button type="submit" class="btn btn-primary" *ngIf="editMode" (click)="onPatientDetailsSubmit()">Зберегти</button>
    </div>
  </div>
  <div class="row children-data" *ngIf="doctor.role === 'Familydoctor'">
    <div class="col-md-4">
      <p>1. Діти</p>
      <ol>
        <li *ngFor="let child of patient.children; let i = index;">
          <!-- [routerLink]="['/patient-details', patient.id]" -->
          <a (click)="setChild(i)">{{child.lastName}} {{child.firstName}}</a>
        </li>
      </ol>
    </div>
    <div class="col-md-8">
      <button type="button" class="btn btn-primary" (click)="openChildrenModal(addHinecologPatientModal, child)" style="float: right">Додати дитину</button>
    </div>
  </div>
  <div class="row medicines">
    <div class="col-md-12">
      <h3>2. Лікарські засоби, застосовані жінкою від зачаття до народження дитини</h3>
    </div>
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
          <th scope="col">№</th>
            <th scope="col">Дата застосування ЛЗ</th>
            <th scope="col">ЛЗ (торгова назва)</th>
            <th scope="col">Міжнародна непатентована назва ЛЗ</th>
            <th scope="col">Добова доза</th>
            <th scope="col">Спосіб введення</th>
            <th scope="col">Тривалість застосування</th>
            <th scope="col">Показання</th>
            <th scope="col">Побічні реакції</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let country of countries; index as i">
            <th scope="row">{{ i + 1 }}</th>
               <td>
                <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                {{ country.name }}
              </td>
              <td>{{ country.area | number }}</td>
              <td>{{ country.population | number }}</td>
          </tr> -->
          <tr>
              <td>1</td>
              <td>01.12.2018</td>
              <td>Лазолван</td>
              <td></td>
              <td>0,5мг</td>
              <td>Каплі</td>
              <td>3 дні</td>
              <td></td>
              <td>Відсутні</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row anamnesis">
    <div class="col-md-12">
      <h3>3.Алергологічний анамнез</h3>
    </div>
    <div class="col-md-12">
      <p>Підвищена чутливість чи непереносимість ЛЗ у минулому:</p>
    </div>
    <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">ЛЗ (торгова назва)</th>
        <th scope="col">Міжнародна непатентована назва ЛЗ</th>
        <th scope="col">Доза</th>
        <th scope="col">Спосіб введення</th>
        <th scope="col">Прояви, що спостерігалися</th>
        <th scope="col">Тривалість проявів</th>
        <th scope="col">Проведені заходи</th>
      </tr>
      </thead>
      <tbody>
      <!-- <tr *ngFor="let country of countries; index as i">
        <th scope="row">{{ i + 1 }}</th> -->
        <!-- <td>
          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
          {{ country.name }}
        </td>
        <td>{{ country.area | number }}</td>
        <td>{{ country.population | number }}</td> -->
      <!-- </tr> -->
      </tbody>
    </table>
    </div>
  </div>
  <div class="row serology">
    <div class="col-md-12">
    <h3>4.Результати серологічних досліджень крові вагітної</h3>
    <p>Персоніфікований перелік ЛЗ, які потенційно небезпечні щодо розвитку алергійних реакцій у вагітної та новонародженого. Оцінка вмісту в сироватці специфічних IgE до конкретних ЛЗ</p>
    <table class="table table-striped col-md-7">
      <thead>
      <tr>
        <th scope="col">МО/мл визначена концентрація</th>
        <th scope="col">EAST-клас</th>
        <th scope="col"> Оцінка вмісту в сироватці
            амоксицилін-специфічних IgE</th>
      </tr>
      </thead>
      <tbody>
      <!-- <tr *ngFor="let country of countries; index as i">
        <th scope="row">{{ i + 1 }}</th> -->
        <!-- <td>
          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
          {{ country.name }}
        </td>
        <td>{{ country.area | number }}</td> -->
      <!-- </tr> -->
      <tr>
          <td>0,00-0,34</td>
          <td>0</td>
          <td>Дещо  підвищений</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>


<ng-template #addHinecologPatientModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="addPatientLabel">Додати нового пацієнта</h4>
      <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="childrenForm" (ngSubmit)="onAddChildSubmit()">
        <div class="form-group row">
          <label for="lastName" class="col-sm-4 col-form-label">Прізвище</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="lastName" id="lastName" >
          </div>
        </div>
        <div class="form-group row">
          <label for="firstName" class="col-sm-4 col-form-label">Ім'я</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="firstName" id="firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="middleName" class="col-sm-4 col-form-label">По-батькові</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="middleName" id="middleName">
          </div>
        </div>
        <div class="form-group row">
          <div class="input-group">
            <label for="dateOfBirth" class="col-sm-4 col-form-label">Дата народження</label>
            <div class="col-sm-8">
              <input  class="form-control" placeholder="yyyy-mm-dd" id="dateOfBirth" (click)="d.toggle()"
                      name="dp" [formControl]="childrenForm.controls.dateOfBirth" ngbDatepicker #d="ngbDatepicker" #spy>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Відмінити</button>
          <button type="submit" class="btn btn-primary">Зберегти</button>
        </div>
      </form>
    </div>
  </ng-template>
