<div class="container">
  <h1>Увійти як пацієнт</h1>
  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
      <div class="row">
        <div class="col-md-2 offset-md-3">
          <label>Ключ:</label>
        </div>
        <div class="col-md-4">
          <input class="form-control" name="email" formControlName="userEmail" />
          <div class="alert alert-danger"
            *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
            Це обов'язкове поле
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-3">
          <label>Пароль:</label>
        </div>
        <div class="col-md-4">
          <input class="form-control" type="password" name="userPassword" formControlName="userPassword" />
            <div class="alert alert-danger"
            *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
            Це обов'язкове поле
          </div>
          <br>
          <a routerLink="/login">Вхід для лікаря</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-3"></div>
      <div class="col-md-4">
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="myForm.invalid" style="float: right">
            Увійти
          </button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="error">
      <div class="col-md-4 offset-md-6">
        <p class="error-text" *ngFor="let err of errors">{{err.code}}</p>
      </div>
    </div>
  </form>
</div>
