<div class="container">
  <h1 style="margin-top: 80px">Зареєструватися</h1>
  <form [formGroup]="registerForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
      <div class="row">
        <div class="col-md-2 offset-md-3">
        </div>
        <div class="col-md-4">
          <label>
            <input type="radio" value="1" formControlName="role">
            <span style="margin-left: 5px;">Гінеколог</span>
          </label>
          <label style="margin-left: 40px;">
            <input type="radio" value="2" formControlName="role">
            <span style="margin-left: 5px;">Сімейний лікар</span>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2 offset-md-3">
          <label>Прізвище:</label>
        </div>
        <div class="col-md-4">
          <input type="text" formControlName="lastName" class="form-control" />
          <div class="alert alert-danger"
            *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched">
            Це поле обов'язкове
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-3">
          <label>Ім'я:</label>
        </div>
        <div class="col-md-4">
          <input type="text" formControlName="firstName" class="form-control"/>
          <div class="alert alert-danger"
            *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched">
            Це поле обов'язкове
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-3">
          <label>По-батькові:</label>
        </div>
        <div class="col-md-4">
          <input type="text" formControlName="middleName" class="form-control"/>
          <div class="alert alert-danger"
            *ngIf="registerForm.controls['middleName'].invalid && registerForm.controls['middleName'].touched">
            Це поле обов'язкове
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-3">
          <label>Email:</label>
        </div>
        <div class="col-md-4">
          <input type="text" formControlName="email" class="form-control" />
          <div class="alert alert-danger"
            *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
            Це поле обов'язкове
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-3">
          <label>Пароль:</label>
        </div>
        <div class="col-md-4">
          <input type="password" formControlName="password" class="form-control" />
          <div class="alert alert-danger"
            *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
            Це поле обов'язкове
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-3">
          <label>Підтвердити пароль:</label>
        </div>
        <div class="col-md-4">
            <input type="password" formControlName="confirmPassword" class="form-control" />
            <div class="alert alert-danger"
              *ngIf="registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].touched">
              Це поле обов'язкове
            </div>
          <br>
          <a routerLink="/login">Увійти</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-3"></div>
      <div class="col-md-4">
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="registerForm.invalid" style="float: right">
            Зареєструватися
          </button>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="error">
      <div class="col-md-4 offset-md-6">
        <p class="error-text" *ngFor="let err of errors">{{err.code}}</p>
      </div>
    </div>
  </form>
</div>
<!-- <div class="form-group">
    <label for="password" class="control-label">Contraseña:</label>
    <input type="password" class="form-control" formControlName="password" title="Please enter your password">
    <p class="help-block" *ngIf="signUpForm.get('password').hasError('required') && signUpForm.get('password').touched">Debe ingresar una contraseña</p>
 </div>
 <div class="form-group">
    <label for="confirmedPassword" class="control-label">Confirmar Contraseña:</label>
    <input type="password" class="form-control" formControlName="confirmedPassword"  title="Please re-enter your password">
    <p class="help-block" *ngIf="signUpForm.get('confirmedPassword').hasError('required') && signUpForm.get('confirmedPassword').touched">Password must be required</p>
    <p class="help-block" *ngIf="signUpForm.get('confirmedPassword').hasError('passwordMismatch') && signUpForm.get('confirmedPassword').touched">password does not match</p>
 </div> -->
