<div class="container">
  <div class="row" style="margin-top: 40px">
    <div class="col-md-4 offset-md-8">
      <h5 *ngIf="patient.user.user.firstName" >Вітаю, {{patient.user.user.firstName}}!
        <button class="btn btn-success"
              style="float: right"
              (click)="onLogOut()">Вийти</button>
      </h5>
    </div>
  </div>
  <hr>
  <div class="row user-info">
    <div class="col-md-4">
      <h4>{{patient.user.user.lastName}} {{patient.user.user.firstName}} {{patient.user.user.middleName}}</h4>
      <p>{{patient.user.user.birthDate | date: 'd.MM.yyyy'}}</p>
    </div>
    <div class="col-md-8">
      <p>Personal key: {{patient.user.user.personalKey}}</p>
      <p>Password: {{patient.user.user.patientPass}}</p>
    </div>
  </div>
  <hr>
  <div class="row medicines">
    <div class="col-md-12">
      <h3>Лікарські засоби, застосовані жінкою від зачаття до народження дитини</h3>
    </div>
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
          <th scope="col">№</th>
            <th scope="col">Дата застосування ЛЗ</th>
            <th scope="col">ЛЗ (торгова назва)</th>
            <th scope="col">Міжнародна непатентована назва ЛЗ</th>
            <th scope="col">Добова доза</th>
            <th scope="col">Спосіб введення</th>
            <th scope="col">Тривалість застосування</th>
            <th scope="col">Показання</th>
            <th scope="col">Побічні реакції</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of patient.user.medicines; index as i">
            <td>{{i + 1}}</td>
            <td>{{medicine.date | date: 'd.MM.yyyy' }}</td>
            <td>{{medicine.medicationName}}</td>
            <td>{{medicine.internetialMedicationName}}</td>
            <td>{{medicine.dose}}</td>
            <td>{{medicine.inputMethod}}</td>
            <td>{{medicine.periodOfUsing}}</td>
            <td>{{medicine.indication}}</td>
            <td>{{medicine.effects}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row anamnesis">
    <div class="col-md-12">
      <h3>3.Алергологічний анамнез</h3>
    </div>
    <div class="col-md-12">
      <p>Підвищена чутливість чи непереносимість ЛЗ у минулому:</p>
    </div>
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">ЛЗ (торгова назва)</th>
          <th scope="col">Міжнародна непатентована назва ЛЗ</th>
          <th scope="col">Доза</th>
          <th scope="col">Спосіб введення</th>
          <th scope="col">Прояви, що спостерігалися</th>
          <th scope="col">Тривалість проявів</th>
          <th scope="col">Проведені заходи</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr *ngFor="let country of countries; index as i">
          <th scope="row">{{ i + 1 }}</th> -->
          <!-- <td>
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
            {{ country.name }}
          </td>
          <td>{{ country.area | number }}</td>
          <td>{{ country.population | number }}</td> -->
        <!-- </tr> -->
        <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row serology">
    <div class="col-md-12">
      <h3>4.Результати серологічних досліджень крові вагітної</h3>
      <p>Персоніфікований перелік ЛЗ, які потенційно небезпечні щодо розвитку алергійних реакцій у вагітної та новонародженого. Оцінка вмісту в сироватці специфічних IgE до конкретних ЛЗ</p>
    </div>
    <div class="col-md-12">
      <table class="table table-striped col-md-7">
        <thead>
        <tr>
          <th scope="col">МО/мл визначена концентрація</th>
          <th scope="col">EAST-клас</th>
          <th scope="col"> Оцінка вмісту в сироватці
              амоксицилін-специфічних IgE</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr *ngFor="let country of countries; index as i">
          <th scope="row">{{ i + 1 }}</th> -->
          <!-- <td>
            <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
            {{ country.name }}
          </td>
          <td>{{ country.area | number }}</td> -->
        <!-- </tr> -->
        <tr>
          <td>0,00-0,34</td>
          <td>0</td>
          <td>Дещо  підвищений</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row kids">
    <div class="col-md-12 kid" *ngFor="let child of patient.children">
      <h4>{{child.user.lastName}} {{child.user.firstName}}</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Дата застосування ЛЗ</th>
            <th scope="col">ЛЗ (торгова назва)</th>
            <th scope="col">Міжнародна непатентована назва ЛЗ</th>
            <th scope="col">Добова доза</th>
            <th scope="col">Спосіб введення</th>
            <th scope="col">Тривалість застосування</th>
            <th scope="col">Показання</th>
            <th scope="col">Побічні реакції</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of child.medicines; index as i">
            <td>{{i + 1}}</td>
            <td>{{medicine.date | date: 'd.MM.yyyy' }}</td>
            <td>{{medicine.medicationName}}</td>
            <td>{{medicine.internetialMedicationName}}</td>
            <td>{{medicine.dose}}</td>
            <td>{{medicine.inputMethod}}</td>
            <td>{{medicine.periodOfUsing}}</td>
            <td>{{medicine.indication}}</td>
            <td>{{medicine.effects}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
