hr {
  border-top: 3px solid rgba(0,0,0, .5);
}

.user-info,
.medicines,
.anamnesis,
.serology,
.kid {
  margin-top: 40px;
}

.kids {
  margin-top: 60px;
}

th, td {
  text-align: center;
}

.table thead th {
  vertical-align: middle;
}
